* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Nunito", sans-serif;
}

header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background: #ABD1B5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main {
    height: 120vh;
    padding: 126px 200px 0;
    background: #EDF4ED;
}

.main-navbar-container {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar-list li a {
    display: inline-block;
    padding: 12px 48px;
    background: #ABD1B5;
    color: #46694f;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-list li a:hover {
    filter: brightness(90%);
}

.navbar-list li a:active {
    filter: brightness(80%);
}